* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #FF3366;
}

#title h1 {
	font-family:'Open Sans', sans-serif;
	font-size: 1.618em;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #1C1C1C;
	text-align: center;
	background-color: #FF3366;
	height: 3.2em;
	padding-top: 0.5em;
	vertical-align: middle;
	}

#about p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	letter-spacing: 0.02em;
	color: #1C1C1C;
	background-color: #ffffff;
	text-align: center;
	padding: 2.5em 0 0 0;
	width: 40em;
	margin: 0 auto;
	line-height: 150%;
}

.button a {
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.25em;
    font-weight: 500;
    border: .2em solid #FF3366;
    color: #FF3366;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    width: 200px;
    margin: 2.5em auto 2.5em auto;
}

.button a:hover, #button a:active {
	background-color: #FF3366;
	color: #ffffff;
}

header {
	background-color: #343434;
	width: 100%;
	height: 90px;
}

/*nav {
	background-color: #343434;
	width: 100%;
	height: 5.6em;
}
*/

.nav_lg {
	float: right;
}

.nav_lg ul {
	list-style: none;
}

.nav_lg li {
	display: block;
	float: left;
}

.nav_lg a { 
	display: block;
	font-family:'Open Sans', sans-serif;
	letter-spacing: 0.05em;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	padding: 2.12em 1.2em;
	font-size: 1em;
}

.nav_lg a:hover, .nav_lg a:active {
	background-color: #FF3366;
	color: #ffffff;
}

.nav_sm {
	display:none;
}

label {
  cursor: pointer;
}

#menu-toggle {
  display: none; /* hide the checkbox */
}

#menu {
  display: none;
}

.nav_sm > label { 
	position: absolute;
	right: 20px;
	top: 16px
}

#menu-toggle:checked + #menu {
  display: block;
  float: left;
  width: 100%;
}

#logo {
	float: left;
	margin: 0.8em 1em 1em 1em;
}

#logo img {
	width: 200px;
}

#image {
	text-align: center;
	clear: both;
	background: url("assets/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 550px;
}

#image img {
	height: 550px;
	object-fit:cover;
}

#title {
	background-color: #FF3366;
	padding-top: 20px;
}

#about {
	background-color: #ffffff;
}

footer {
	position: absolute;
	height: 3.2em;
	display: inline-block;
	background-color: #343434;
	width: 100%;
}

#copyright {
	font-family: 'Open Sans', sans-serif;
	float: left;
	font-size: .85em;
	color: #ffffff;
	padding-left: 2em;
	padding-top: 1.15em;
}

#social a {
	float: right;
	display: inline-block;
	text-align: center;
	padding: 0.7em 1em;
	background-color: #343434;
}

#social img {
	height: 1.5em;
	width: auto;
}

#social a:hover, #social a:active {
	background-color: #FF3366;
}


/* not using anymore
#title2 h1 {
	font-family:'Open Sans', sans-serif;
	font-size: 1.618em;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #1C1C1C;
	text-align: center;
	background-color: #FF3366;
	height: 4em;
	line-height: 4em;
	padding: 0 .8em;
	display: block;
	vertical-align: middle;
	width: 100%;
}
*/

.gallery {
	width: 100%;
	height: 100%;
	background: url("assets/leavesgrey.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#description p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	letter-spacing: 0.02em;
	color: #1C1C1C;
	text-align: center;
	padding: 2em 0 1em 0;
	background-color: #ffffff;
	width: 50em;
	margin: 0 auto;
	line-height: 150%;
}

.gallery a {
	padding: 0 1em;
	outline: 0;
}

.row1 {
	margin: 0 auto;
	text-align: center;
	padding: 2em 0 0 0;
	width: 50em;
	background-color: #ffffff;
}

.row2 {
	margin: 0 auto;
	text-align: center;
	padding: 2em 0;
	width: 50em;
	background-color: #ffffff;
}

#ollie, #lucky, #otto, #olivia, #dog, #hannah {
	width: 40%;
	height: 40%;
	border-radius: 50%;
}

#left {
	float: left;
	background: url("assets/leavesgrey.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 50%;
  	height: 720px;
}

figure {
	padding: 3em 1em 0 1em;
}

#me {
	display: block;
	margin: 0 auto;
	border: 4px solid #1C1C1C;
	width: 90%;
	height: 90%;
	max-width: 600px;
}

figcaption {
	font-family: 'Lora', serif;
	font-size: .7em;
	letter-spacing: 1px;
	padding-top: .3em;
	padding-left: 5%;
	color: #1C1C1C;
}

#bio {
	float: left;
	padding: 0 2em;
	width: 50%;
	top: 50%;
	bottom: 50%;
}


#bio p {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.02em;
	font-size: 1em;
	color: #1C1C1C;
	background-color: #ffffff;
	padding-top: 2.5em;
	line-height: 150%;
}

#sizes ul {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	letter-spacing: 0.02em;
	text-align: center;
	line-height: 150%;
	width: 100%;
	padding-bottom: 4em;
}

#basics ul {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	letter-spacing: 0.02em;
	text-align: left;
	padding: 3em 0;
	line-height: 150%;
	width: 60%;
	margin: 0 auto;
}

h2 {
	font-family:'Open Sans', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.02em;
	color: #1C1C1C;
	text-align: center;
	padding-top: 2em;
}

#sizes h3 {
	font-size: 1em;
	padding: 3em 0 1em 0;
}

hr {
	width: 60%;
	border: none;
	height: 1px;
	background-color: #999999;
	margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 16px;
	}
	/*nav a {
		padding: 2.1em 1.2em;
		font-size: 1em;
	} */

	#about p {
	width: 80%
	}

	#image {
		height: 550px;
	}

	#title2 h1 {
		font-size: 1.618em;
		height: 20%;
	}

	.row1, .row2, .row3 {
		width: 100%;
	}

	#ollie, #lucky, #otto, #olivia, {
		width: 40%;
		height: 40%;
	}

	#left {
		display: block;
		width: 100%;
		height: 50%;
	}

	#basics ul {
		width: 85%;
	}

	hr {
		width: 85%;
	}

	figure {
		display: block;
		width: 100%;
		padding: 4em 4em 4em 4em;
	}

	#bio {
		width: 100%;
	}

	#description p {
		width: 100%;
	}

}

@media screen and (max-width: 500px) {
	body {
		font-size: 15px;
	}

	#logo img {
		display: block;
		float: left;
	}

	.nav_sm {
		display: block;
		width: 100%;
		/* position: absolute; */
	}

	.nav_sm img {
	width: 30px;
	margin: 0;
	padding-top: 1.2em;
	}

	.nav_sm ul, li {
	list-style: none;
	width: 100%;
	}

	.nav_sm a {
	padding: 1em;
	font-family:'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	background-color: #999999;
	text-align: center;
	text-decoration: none;
	float: left;
	color: #1C1C1C;
	clear: both;
	width: 100%;
	}

	.nav_sm a:hover, nav a:active {
	color: #FF3366;
	background-color: #ffffff;
	}

	.nav_lg {
		display: none;
	}

	#image {
		height: 400px;
		object-fit:cover;
	}

	#image img {
		height: 400px;
	}
	
	#about p {
		width: 90%;
	}

}